In [12]:
import numpy as np
import pandas as pd
import os
import seaborn as sns

In [7]:
print(os.listdir())

['.Rhistory', '.eclipse', '.config', 'Music', 'iCloud Drive (Archive) - 1', '.DS_Store', '.r', 'eclipse', 'VirtualBox VMs', '.CFUserTextEncoding', '.tooling', 'Untitled.ipynb', '.zshrc', '.ServiceHub', '.templateengine', '.local', 'Creative Cloud Files', 'Projects', 'Pictures', '.pylint.d', '.atom', '.zsh_history', '.p2', '.ipython', 'Desktop', 'Library', 'eclipse-workspace', '.matplotlib', '.oracle_jre_usage', 'iCloud Drive (Archive)', '.IdentityService', '.bash_profile.pysave', '.android', '.cups', '.bash_sessions', 'Public', 'Creative Cloud Files (archived) (1)', '.idlerc', '.RData', '.ssh', 'Movies', 'Applications', '.gradle', '.Rapp.history', 'opt', '.Trash', '.ipynb_checkpoints', '.jupyter', 'Documents', '.pyenv', '.mono', '.bash_profile', 'Downloads', '.python_history', '.cache', '.gitconfig', '.bash_history', '.ondmd7566', '.zsh_sessions', '.conda', '.ondmd7567']

In [8]:
df = pd.read_csv("/Users/abhishekdesai/Desktop/cloudproject/bitcoin.csv")

In [9]:
df

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
4857372,1617148560,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339
4857373,1617148620,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508
4857374,1617148680,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496
4857375,1617148740,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202
4857376,1617148800,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363

In [10]:
df.isnull().sum()

Timestamp                  0
Open                 1243608
High                 1243608
Low                  1243608
Close                1243608
Volume_(BTC)         1243608
Volume_(Currency)    1243608
Weighted_Price       1243608
dtype: int64

In [11]:
df.isnull()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,False,False,False,False,False,False,False,False
1,False,True,True,True,True,True,True,True
2,False,True,True,True,True,True,True,True
3,False,True,True,True,True,True,True,True
4,False,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...
4857372,False,False,False,False,False,False,False,False
4857373,False,False,False,False,False,False,False,False
4857374,False,False,False,False,False,False,False,False
4857375,False,False,False,False,False,False,False,False
4857376,False,False,False,False,False,False,False,False

In [27]:
df.dropna(inplace= True)

In [28]:
df

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
478,1325346600,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
547,1325350740,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
548,1325350800,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
1224,1325391360,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000
...,...,...,...,...,...,...,...,...
4857372,1617148560,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339
4857373,1617148620,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508
4857374,1617148680,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496
4857375,1617148740,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202
4857376,1617148800,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363

In [29]:
df.to_csv("/Users/abhishekdesai/Desktop/cloudproject/bitcoinout.csv")